.AttemptPage {
    text-align: center;
}

/* 2 cols, 3 rows grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal sized columns */
    grid-template-rows: repeat(3, minmax(100px, auto)); /* Rows with a minimum height */
    gap: 10px;
    padding: 20px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    resize: none;
}

.function-text {
    text-align: left;
    white-space: pre-wrap;
    padding-left: 30px;
    text-indent: -30px; /* for hanging indent */
    font-family: monospace;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

/* Used so that the failing test cases box can occupy two spots in the grid */
#failing-test-case-box {
    grid-row: span 2;
}

.readonly-textarea {
    overflow-y: auto; /* vertical scrollbar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners (looks nice) */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow-wrap: break-word;
    background-color: #f9f9f9; /* light-grey background (so it looks like you cant input stuff */
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: Gray;
}