.button {
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
}

.start {
	background-image: url("../icons/arrow-right-o.png");
	height: 30px;
	width: 30px;
}

.view {
	background-image: url("../icons/eye-alt.png");
	border-style: dashed;
	border-width: 1px;
	height: 15px;
	width: 15px;
}

.expand {
	height: 30px;
	width: 30px;
}

.expand.off {
	background-image: url("../icons/arrows-expand-right.png");
}

.expand.on {
	background-image: url("../icons/compress-right.png");
}