textarea {
    border: 2px solid #abc;
    resize: none;
}

#df, #buttons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto;
}

#note {
    text-align: center;
}

